.current-container {
    align-self: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* 바깥 여백 추가 */
    border: 2px solid #ccc; /* 테두리 추가 */
    border-radius: 8px;
    margin-top: 20px; /* 위쪽 빈 공간을 추가하여 CurrentMap 컴포넌트 위에 빈 공간 생성 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* 백그라운드 색 추가 */
  }
  
  .current-map-box {
    width: 90%;
    height: 350px; /* 높이를 고정하여 지도 컴포넌트가 빈 공간 내에 표시되도록 */
    margin-top: 20px; /* 지도 상단에 빈 공간 추가 */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .current-button-container {
    margin-top: 20px; /* 버튼 상단에 빈 공간 추가 */
  }
  