.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}

.main-top {
  width: 100%;
  height: 8vh;
  padding-left: 2rem;
  border-bottom: 1px solid #d0cfcf;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  color: rgb(255, 73, 28);

  & h1 {
    margin: 7px 0;
    font-size: 27px;
    position: relative;
    bottom: 2px;
  }
}

.main-logo {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 73, 28);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 60%;
  }
}

.main-bottom {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.main-sidebar {
  width: 20%;
  height: 100%;
  padding-top: 20px;
  background-color: rgb(255, 73, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-sidebar-button {
  cursor: pointer;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;

  & svg {
    font-size: 1rem;
  }
}

.active {
  background-color: #ffe5df;
  color: rgb(255, 73, 28);
}

.main-content {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
